<div class="row small-centered medium-4" >
	<form ng-controller="LoginCtrl" id="loginForm" data-abide>
		<fieldset>
			<legend>Login</legend>
			<div data-alert class="alert-box round" ng-class="loginAlertBox.class" ng-show="loginAlertBox.display">
				{{loginAlertBox.message}}
				<a class="fi-x" ng-click="loginAlertBox.close()">&nbsp;</a>
			</div>
			<label class="username-field">
				<label>Username:
					<input id="username" type="text" ng-model="login.username" required pattern="[a-zA-Z0-9]{5,10}" placeholder="[Username]" class="radius"/>
				</label>
				<small class="error">Username is required and must be a string from 5 to 10 characters.</small>
			</label>
			<label class="password-field">
				<label>Password:
					<input id="password" type="password" ng-model="login.password" required pattern="[a-zA-Z0-9]{5,10}" placeholder="[Password]" class="radius"/>
				</label>
				<small class="error">Password is required and must be a string from 5 to 10 characters.</small>
			</label>
			<div class="small-centered columns medium-4">
				<button class="radius" type="submit">Submit</button>
			</div>
		</fieldset>
	</form>
</div>
